$buttonbg: #AFD1FF;
$buttonhover: #8CA8CD;
$smash: #FF959E;
$cut: #7ECDFF;
$purple: #7C5CFF;

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/Kom15zUm24dIPfIRiNogNuvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/CggrdU0t5c42NcNxN-VM33YhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}

* {
  padding: 0;
  margin: 0;
}

html {
  background-color: $purple; // applies to footer
  color: white;
  font-family: 'Helvetica', sans-serif;
  width: 100%;
}

body {
}


header {
  font-family: 'Lato', sans-serif;
  border-bottom: 5px black dashed;
  font-weight: bold;
  background-color: #4C7945;
  // padding: 25px;
  color: white;
  padding: 25px;
  h1, h2 {
    margin: 0 auto;
  }
}

.yield {
  background-color: white;
  color: black;
  padding: 25px;
}

footer {
  border-top: 5px black dashed;
  // margin: 10px auto;
  padding: 25px;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    margin: 0;
    &:after {
      content: "\a0 \a0 \a0 \a0 ";
    }
  }
  li+li {
    // padding: 0 0 0 10px;
    &:before {
      content: "\2731\a0 \a0 \a0 \a0 ";
    }
  }
}

article {
  width: 500px;
  margin: 0 auto;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 2em;
}

a {
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration: underline;
  }
}

#logo {
  width: 278px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  left: 0px;
  opacity: 0;
}

#fountain {
  resize: none;
  width: 80%;
  height: 350px;
  font-family: "Courier",Serif;
  font-size: 12pt;
  margin: 20px auto;
  padding: 10px;
}

.options_box {
  ul {
    list-style-type: none;
  }
  li {
    margin-top: 5px;
  }
  input[type=text] {
    padding: 5px;
    // width: 300px;
    width: 50%;
    margin-bottom: 5px;
  }
}

code {
  background-color: yellow;
  color: blue;
  font-size: 80%;
  font-family: "Monaco", Monospace;
  overflow: auto;
}
pre {
  overflow: auto;
}

@media only screen and (max-width: 500px) {
  article {
    width: 100%;
    padding: 3px;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  .yield {
    padding: 0;
  }
}