

<div id="app">
  <p></p>
  <input type="file" id="load" style="display: none"> <!-- hidden but the #load_button invokes this -->
  <div class="btn-group">
    <button class="btn" id="load_button">Open</button>
    <button class="btn" id="clear">Clear</button>
    <button class="btn" id="demo">Example</button>
    <button class="btn btn-info" id="smash">Smash Cut!</button>
  </div>

  <form id="screenplay_form" action="/render" method="POST">
    <div id="options">
      <h3>Options:</h3>
      <ul>
        <li>
          <label>Specify filename: <input name="filename" type="text" placeholder="eg, casablanca.pdf (optional)" id="specify_filename"></label>
        </li>
        <li>Convert to:
          <label><input type="radio" name="file_format" value="pdf" id="file_format_pdf" /> PDF</label>
          <label><input type="radio" name="file_format" value="html" id="file_format_html" /> HTML</label>
        </li>
        <li>Comments:
          <label><input type="radio" name="comments" value="exclude" id="comments_exclude"/> Exclude</label>
          <label><input type="radio" name="comments" value="include" id="comments_include" /> Include</label>
        </li>
        <li>Medium:
          <label><input type="radio" name="medium" value="film" id="medium_film" /> Film</label>
          <label><input type="radio" name="medium" value="tv" id="medium_tv" /> Television</label>
          <label><input type="radio" name="medium" value="musical" id="medium_musical" /> Musical</label>
        </li>
      </ul>
    </div>
    <textarea name="fountain" id="fountain" placeholder="Paste your Fountain screenplay here, get back a PDF, and scram." autofocus="autofocus"></textarea>
  </form>
</div>

