<div id="pastebox">
  <form data-persist="garlic" action="/render.pdf" method="POST">
    <textarea name="fountain" placeholder="Paste your Fountain screenplay here, get back a PDF, and scram." autofocus="autofocus"></textarea>

    <label class="checkbox">
      <input type="checkbox" name="comments" value="true"> Include comments
    </label>

    <button type="submit" id="smash">Smash Cut!</button>
  </form>
</div>