<img id="logo" src="img/logo.png" />
<div id="pastebox">
  <form data-persist="garlic" action="/render" method="POST">
    <textarea name="fountain" placeholder="Paste your Fountain screenplay here, get back a PDF, and scram." autofocus="autofocus"></textarea>
    <button class="btn btn-large btn-block btn-info" id="smash">Smash Cut!</button>
  </form>
</div>

