<input type="file" id="load" style="display: none">

<div id="pastebox">
  
  <div class="btn-group">
    <button class="btn" id="load_button">Open</button>
    <button class="btn" id="clear">Clear</button>
    <button class="btn" id="demo">Demo</button>
    <button class="btn btn-info" id="smash">Smash Cut!</button>
  </div>
  <!-- <button class="btn btn-smash btn-block btn-large" id="fountainjstokenize">fountain.js tokenize</button> -->
  <!-- data-persist="garlic"  <=== add that back into the first form tag if u want. taking it now for now-->
  <form id="screenplay_form" action="/render" method="POST">
    <textarea name="fountain" id="fountain" placeholder="Paste your Fountain screenplay here, get back a PDF, and scram." autofocus="autofocus"></textarea>
    <div class="options_box">
      <h3>Options:</h3>
      <ul>
        <li><label>Specify filename: <input name="filename" type="text" placeholder="eg, casablanca.pdf (optional)" id="specify_filename"></label></li>
        <li>Convert to: <label><input type="radio" name="file_format" value="pdf" checked="yes"/>PDF</label> <label><input type="radio" name="file_format" value="html"/>HTML</label></li>
        <li>Comments: <label><input type="radio" name="comments" value="exclude" checked="yes"/>Exclude</label> <label><input type="radio" name="comments" value="include" />Include</label></li>
        <li>Screenplay type: <label><input type="radio" name="medium" value="film" checked="yes"/>Film</label> <label><input type="radio" name="medium" value="tv" />Television</label></li>
      </ul>
    </div>
  </form>
</div>