<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= @title %> - <%= @subtitle %></title>
  <meta name="viewport" content="user-scalable=0, initial-scale=1.0">
  <meta name="HandheldFriendly" content="true" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
  <link href="img/favicon.ico" type="image/x-icon" rel="icon">
  <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon.png">
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-4982721-13']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div class="row">
    <div class="span6 offset3">
      <h1><a href="/"><%= @title %></a></h1>

<%= yield %>

    </div>
    <div class="span3"></div>
  </div>
  <div class="row">
    <div class="span6 offset3">
      <hr />
      <p>A <a href="http://maxjacobson.net">Max Jacobson</a> joint. <a href="/faq">FAQ</a>.</p>
    </div>
    <div class="span3"></div>
  </div>
</body>
</html>