<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= @title %> - <%= @subtitle %></title>
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/buttons.min.css" />
  <link href="img/favicon.ico" type="image/x-icon" rel="icon">
  <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon.png">
</head>
<!-- this onbeforeunload thing is a hack http://stackoverflow.com/questions/5426353/suppress-safaris-you-have-entered-text-warning -->
<body onbeforeunload="">
<!-- <body>   -->
  <a href="/"><img id="logo" src="img/logo.png" /></a>
  <div id="container">
    <h1><a href="/"><%= @title %></a></h1>

<%= yield %>

    <hr />
    <p>A <a href="http://maxjacobson.net">Max Jacobson</a> joint. <a href="/faq">FAQs</a>.</p>
  </div>

  <script src="js/jquery-1.8.2.min.js"></script>
  <script src="js/garlic.min.js"></script>
  <script src="js/script.js"></script>
  <script src="js/fountain.js"></script>

</body>
</html>
