<p>I need to finish writing the <code>fountain.rb</code> conversion script before your pdf will show up here. Coming soon I promise.</p>

<p>For now, I'll just print the text below that you put in the box:</p>

<%= @fountain_text %>