@font-face {
  font-family: 'Arizonia';
  font-style: normal;
  font-weight: 400;
  src: local("Arizonia"), local("Arizonia-Regular"), url(http://themes.googleusercontent.com/static/fonts/arizonia/v3/8Usm7f8XTsZinW2e-ZMd5XYhjbSpvc47ee6xR_80Hnw.woff) format("woff"); }

html body {
  padding: 0;
  margin: 0;
  background-color: #c4fdff;
  font-family: "Helvetica", sans-serif;
  width: 100%; }
  html body a {
    text-decoration: none; }
  html body a:hover {
    text-decoration: underline; }
  html body a:visited {
    color: #005ccd; }

h1 {
  font-family: "Arizonia", cursive;
  font-size: 6em;
  margin: 0; }

#container {
  border-radius: 25px;
  background-color: white;
  padding: 25px;
  margin: 25px;
  width: 635px;
  margin-left: auto;
  margin-right: auto; }

#logo {
  width: 278px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  left: 0px;
  opacity: 0; }

#pastebox textarea {
  resize: none;
  width: 100%;
  height: 400px;
  font-family: "Courier",Serif;
  font-size: 12pt;
  margin: 20px 0; }

.options_box ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
.options_box h3 {
  margin: 0;
  padding: 0; }
.options_box input[type=text] {
  padding: 5px;
  width: 300px;
  margin-bottom: 5px; }

.meta {
  margin: 10px 0; }
  .meta ul {
    margin: 0;
    padding: 0; }
  .meta li {
    display: inline;
    margin: 0; }
    .meta li:after {
      content: "\a0 \a0 \a0 \a0 "; }
  .meta li + li:before {
    content: "\2731\a0 \a0 \a0 \a0 "; }

code {
  background-color: yellow;
  color: blue;
  font-size: 80%;
  font-family: "Monaco", Monospace;
  overflow: auto; }

pre {
  overflow: auto; }

hr {
  height: 2px;
  color: black;
  background-color: black;
  border-radius: 5px;
  margin-top: 50px; }

@media only screen and (max-width: 635px) {
  #container {
    width: 95%;
    margin: 10px 0;
    padding: 10px 5px; } }
